<!DOCTYPE html>
<html lang="en">

<head th:replace="~{partials/head :: head}">
  <title>CSI Training</title>

</head>
<body>
<nav th:replace="~{partials/navbar :: navbar}"></nav>

<div class="container">
  <div class="row">
    <div class="col">
      <h2>Crime Scene SOP</h2>
      <div><a href="#" onclick="togglePDF(1)">CHAPTER 1. GENERAL PROVISIONS</a></div>
      <div class="pdf-container" id="SOP-pdf-container-1">
        <embed src="/pdf/codeOfCriminalProcedure/chp1.pdf" type="application/pdf" width="100%" height="600px" />
      </div>
      <div><a href="#" onclick="togglePDF(2)">CHAPTER 2. </a></div>
      <div class="pdf-container" id="SOP-pdf-container-2">
        <embed src="/pdf/codeOfCriminalProcedure/chp1.pdf" type="application/pdf" width="100%" height="600px" />
      </div>
      <div><a href="#" onclick="togglePDF(3)">CHAPTER 3. </a></div>
      <div class="pdf-container" id="SOP-pdf-container-3">
        <embed src="/pdf/codeOfCriminalProcedure/chp1.pdf" type="application/pdf" width="100%" height="600px" />
      </div>
      <div><a href="#" onclick="togglePDF(4)">CHAPTER 4.</a></div>
      <div class="pdf-container" id="SOP-pdf-container-4">
        <embed src="/pdf/codeOfCriminalProcedure/chp1.pdf" type="application/pdf" width="100%" height="600px" />
      </div>
      <div><a href="#" onclick="togglePDF(5)">CHAPTER 5.</a></div>
      <div class="pdf-container" id="SOP-pdf-container-5">
        <embed src="/pdf/codeOfCriminalProcedure/chp1.pdf" type="application/pdf" width="100%" height="600px" />
      </div>
      <div><a href="#" onclick="togglePDF(6)">CHAPTER 6. </a></div>
      <div class="pdf-container" id="SOP-pdf-container-6">
        <embed src="/pdf/codeOfCriminalProcedure/chp1.pdf" type="application/pdf" width="100%" height="600px" />
      </div>
      <div><a href="#" onclick="togglePDF(7)">CHAPTER 7.</a></div>
      <div class="pdf-container" id="SOP-pdf-container-7">
        <embed src="/pdf/codeOfCriminalProcedure/chp1.pdf" type="application/pdf" width="100%" height="600px" />
      </div>
      <div><a href="#" onclick="togglePDF(8)">CHAPTER 8.</a></div>
      <div class="pdf-container" id="SOP-pdf-container-8">
        <embed src="/pdf/codeOfCriminalProcedure/chp1.pdf" type="application/pdf" width="100%" height="600px" />
      </div>
    </div>
  </div>
</div>

<script src="/js/SOP.js"></script>
</body>
</html>