<!DOCTYPE html>
<html lang="en">

<head th:replace="~{partials/head :: head}">
  <title>CSI Training</title>

</head>
<body>
<nav th:replace="~{partials/navbar :: navbar}"></nav>

<div class="container">
  <div class="row">
    <div class="col">
      <h2>General Manual</h2>
      <div><a href="#" onclick="togglePDF(1)">Forward</a></div>
      <div class="pdf-container" id="GM-pdf-container-1">
        <embed src="/pdf/generalManual/foreword.pdf" type="application/pdf" width="100%" height="600px" />
      </div>
      <div><a href="#" onclick="togglePDF(2)">Statement of Philosophy</a></div>
      <div class="pdf-container" id="GM-pdf-container-2">
        <embed src="/pdf/generalManual/statement-of-philosophy.pdf" type="application/pdf" width="100%" height="600px" />
      </div>
      <div><a href="#" onclick="togglePDF(3)">Law Enforcement Code of Ethics</a></div>
      <div class="pdf-container" id="GM-pdf-container-3">
        <embed src="/pdf/generalManual/law-enforcement-code-of-ethics.pdf" type="application/pdf" width="100%" height="600px" />
      </div>
      <div><a href="#" onclick="togglePDF(4)">Mission</a></div>
      <div class="pdf-container" id="GM-pdf-container-4">
        <embed src="/pdf/generalManual/mission.pdf" type="application/pdf" width="100%" height="600px" />
      </div>
      <div><a href="#" onclick="togglePDF(5)">Section 200 – Rules and Regulations</a></div>
      <div class="pdf-container" id="GM-pdf-container-5">
        <embed src="/pdf/generalManual/200.pdf" type="application/pdf" width="100%" height="600px" />
      </div>
      <div><a href="#" onclick="togglePDF(6)">Procedure 310 – Uniforms and Dress Codes</a></div>
      <div class="pdf-container" id="GM-pdf-container-6">
        <embed src="/pdf/generalManual/310-uniforms-and-dress-codes-12-23-2022.pdf" type="application/pdf" width="100%" height="600px" />
      </div>
      <div><a href="#" onclick="togglePDF(7)">Procedure 310 – Uniforms and Dress Codes - Appendix A</a></div>
      <div class="pdf-container" id="GM-pdf-container-7">
        <embed src="/pdf/generalManual/310-uniforms-and-dress-codes-appendix-a-02-16-2023.pdf" type="application/pdf" width="100%" height="600px" />
      </div>
      <div><a href="#" onclick="togglePDF(8)">Procedure 310 – Uniforms and Dress Codes - Appendix B</a></div>
      <div class="pdf-container" id="GM-pdf-container-8">
        <embed src="/pdf/generalManual/310-uniforms-and-dress-codes-appendix-b-religious-exemptions-01-04-2023.docx.pdf" type="application/pdf" width="100%" height="600px" />
      </div>
      <div><a href="#" onclick="togglePDF(9)">Procedure 311 – Court Appearances</a></div>
      <div class="pdf-container" id="GM-pdf-container-9">
        <embed src="/pdf/generalManual/311.pdf" type="application/pdf" width="100%" height="600px" />
      </div>
      <div><a href="#" onclick="togglePDF(10)">Procedure 313 – Use of City Vehicles</a></div>
      <div class="pdf-container" id="GM-pdf-container-10">
        <embed src="/pdf/generalManual/313.pdf" type="application/pdf" width="100%" height="600px" />
      </div>
      <div><a href="#" onclick="togglePDF(11)">Procedure 316 – Police Radio Issuance</a></div>
      <div class="pdf-container" id="GM-pdf-container-11">
        <embed src="/pdf/generalManual/316.pdf" type="application/pdf" width="100%" height="600px" />
      </div>
      <div><a href="#" onclick="togglePDF(12)">Procedure 403 – Communications</a></div>
      <div class="pdf-container" id="GM-pdf-container-12">
        <embed src="/pdf/generalManual/403-communications.pdf" type="application/pdf" width="100%" height="600px" />
      </div>
      <div><a href="#" onclick="togglePDF(13)">Procedure 408 – Digital Photography</a></div>
      <div class="pdf-container" id="GM-pdf-container-13">
        <embed src="/pdf/generalManual/408-digital-photography.pdf" type="application/pdf" width="100%" height="600px" />
      </div>
      <div><a href="#" onclick="togglePDF(14)">Procedure 501 –Response to Resistance</a></div>
      <div class="pdf-container" id="GM-pdf-container-14">
        <embed src="/pdf/generalManual/501.pdf" type="application/pdf" width="100%" height="600px" />
      </div>
      <div><a href="#" onclick="togglePDF(15)">Procedure 502 – Warrantless Arrests, Searches, and Seizures</a></div>
      <div class="pdf-container" id="GM-pdf-container-15">
        <embed src="/pdf/generalManual/502-warrantless-arrests-searches-and-seizures.pdf" type="application/pdf" width="100%" height="600px" />
      </div>
      <div><a href="#" onclick="togglePDF(16)">Procedure 504 – Execution of Search Warrants</a></div>
      <div class="pdf-container" id="GM-pdf-container-16">
        <embed src="/pdf/generalManual/504-execution-of-search-warrants.pdf" type="application/pdf" width="100%" height="600px" />
      </div>
      <div><a href="#" onclick="togglePDF(17)">Procedure 512 – Electronic Control Devices</a></div>
      <div class="pdf-container" id="GM-pdf-container-17">
        <embed src="/pdf/generalManual/512-electronic-control-devices-12-21-2020.pdf" type="application/pdf" width="100%" height="600px" />
      </div>
      <div><a href="#" onclick="togglePDF(18)">Procedure 604 – Family Disturbances/Violence</a></div>
      <div class="pdf-container" id="GM-pdf-container-18">
        <embed src="/pdf/generalManual/604-family-disturbances-violence-04-18-2022.pdf" type="application/pdf" width="100%" height="600px" />
      </div>
      <div><a href="#" onclick="togglePDF(19)">Procedure 606 – Impounding Property</a></div>
      <div class="pdf-container" id="GM-pdf-container-19">
        <embed src="/pdf/generalManual/606-impounding-property-01-04-2023.pdf" type="application/pdf" width="100%" height="600px" />
      </div>
      <div><a href="#" onclick="togglePDF(20)">Procedure 607 – Impounding Vehicles</a></div>
      <div class="pdf-container" id="GM-pdf-container-20">
        <embed src="/pdf/generalManual/607-impounding-vehicles.pdf" type="application/pdf" width="100%" height="600px" />
      </div>
      <div><a href="#" onclick="togglePDF(21)">Procedure 615 – Exposure To Communicable Diseases and Other Public Health Risks</a></div>
      <div class="pdf-container" id="GM-pdf-container-21">
        <embed src="/pdf/generalManual/615-exposure-to-communicable-diseases-and-other-public-healt.pdf" type="application/pdf" width="100%" height="600px" />
      </div>
      <div><a href="#" onclick="togglePDF(22)">Procedure 701 – Crime Scene Duties</a></div>
      <div class="pdf-container" id="GM-pdf-container-22">
        <embed src="/pdf/generalManual/701.pdf" type="application/pdf" width="100%" height="600px" />
      </div>
      <div><a href="#" onclick="togglePDF(23)">Procedure 703 – Handling of Sexual Assault Complaints</a></div>
      <div class="pdf-container" id="GM-pdf-container-23">
        <embed src="/pdf/generalManual/703-handling-of-sexual-assault-complaints-09-28-2020.pdf" type="application/pdf" width="100%" height="600px" />
      </div>
      <div><a href="#" onclick="togglePDF(24)">Procedure 704 – Apparent Sudden Deaths</a></div>
      <div class="pdf-container" id="GM-pdf-container-24">
        <embed src="/pdf/generalManual/704-apparentsuddendeaths10-03-14.pdf" type="application/pdf" width="100%" height="600px" />
      </div>
      <div><a href="#" onclick="togglePDF(25)">Procedure 705 – Officer Involved Shooting and Custodial Deaths</a></div>
      <div class="pdf-container" id="GM-pdf-container-25">
        <embed src="/pdf/generalManual/705.pdf" type="application/pdf" width="100%" height="600px" />
      </div>
      <div><a href="#" onclick="togglePDF(26)">Procedure 706 – Assaults on Peace Officers</a></div>
      <div class="pdf-container" id="GM-pdf-container-26">
        <embed src="/pdf/generalManual/706-assaults-on-peace-officers.pdf" type="application/pdf" width="100%" height="600px" />
      </div>
      <div><a href="#" onclick="togglePDF(27)">Procedure 707 – Crash Investigation</a></div>
      <div class="pdf-container" id="GM-pdf-container-27">
        <embed src="/pdf/generalManual/707-crash-investigation-02-16-2023.pdf" type="application/pdf" width="100%" height="600px" />
      </div>
      <div><a href="#" onclick="togglePDF(28)">Procedure 708 – Follow-Up Units</a></div>
      <div class="pdf-container" id="GM-pdf-container-28">
        <embed src="/pdf/generalManual/708.pdf" type="application/pdf" width="100%" height="600px" />
      </div>
      <div><a href="#" onclick="togglePDF(29)">Procedure 710 – Preliminary Drug Identification</a></div>
      <div class="pdf-container" id="GM-pdf-container-29">
        <embed src="/pdf/generalManual/710-preliminary-drug-identification.pdf" type="application/pdf" width="100%" height="600px" />
      </div>
      <div><a href="#" onclick="togglePDF(30)">Procedure 918 – Discrimination, Harassment, Retaliation, Inappropriate Behavior, and Sexual Harassment in the Workplace</a></div>
      <div class="pdf-container" id="GM-pdf-container-30">
        <embed src="/pdf/generalManual/918-harassment-discriminationintheworkplace.pdf" type="application/pdf" width="100%" height="600px" />
      </div>
      <div><a href="#" onclick="togglePDF(31)">Procedure 922 – Reporting of Criminal Offenses by Department Members</a></div>
      <div class="pdf-container" id="GM-pdf-container-31">
        <embed src="/pdf/generalManual/922.pdf" type="application/pdf" width="100%" height="600px" />
      </div>
    </div>
  </div>
</div>

<script src="/js/GM.js"></script>
</body>
</html>