.header {
    background-image: url(/img/crime-tape.jpg);
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.page-wrapper {
    display: flex;
    margin-top: 55px;
    margin-left: 55px;
    justify-content: flex-start;
    height: 100vh;
}

.page-wrapper img {
    position: relative;
    z-index: 9999;
    display: block;
    width: 240px;
    height: 200px;
}

.centered-links {
    display: flex;
    margin-top: 80px;
    width: 60%;
    justify-content: center;
    align-items: start;
    font-size: xx-large;
}

.register-btn {
    padding-right: 30px;
}
