<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{partials/head :: head}">

	<title>CSI Training</title>

</head>
<body>
<div class="header">
	<div class="page-wrapper">
		<div class="animate__animated animate__backInDown"><a th:href="@{/home}"> <img src="/img/csi-logo.png" alt="csi"></a></div>
			<div class="centered-links">

				<!--register-->
				<div class="animate__animated animate__backInRight register-btn">
					<!-- Button trigger modal -->
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
						Register
					</button>
				</div>

				<!-- Modal -->
				<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h1 class="modal-title fs-5" id="exampleModalLabel">Register</h1>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<form th:action="@{/register}" method="post">
									<div>
										<label for="firstname">First Name:</label>
										<input type="text" id="firstname" name="firstname" required>
									</div>
									<div>
										<label for="lastname">Last Name:</label>
										<input type="text" id="lastname" name="lastname" required>
									</div>
									<div>
										<label for="username">Username:</label>
										<input type="text" id="username-reg" name="username" required>
									</div>
									<div>
										<label for="email">Email:</label>
										<input type="email" id="email" name="email" required>
									</div>
									<div>
										<label for="password">Password:</label>
										<input type="password" id="password-reg" name="password" required>
									</div>
									<div class="modal-footer">
<!--										<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
										<button type="submit" class="btn btn-primary">Register</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>

				<!--login-->

				<div class="animate__animated animate__backInRight login-btn">
					<!-- Button trigger modal -->
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
						Login
					</button>
				</div>

					<!-- Modal -->
					<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h1 class="modal-title fs-5" id="exampleModalLabel">Login</h1>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<form th:action="@{/login}" method="post">
										<div>
											<label for="username">Username:</label>
											<input type="text" id="username" name="username" required>
										</div>
										<div>
											<label for="password">Password:</label>
											<input type="password" id="password" name="password" required>
										</div>
										<div class="modal-footer">
<!--											<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
											<button type="submit" class="btn btn-primary">Login</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
			</div>
	</div>
</div>
</body>
</html>